*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}


.movieWrapper {
  
    display: grid;
    grid-template-columns: 18%;
    grid-auto-flow: column;
    gap: 1.5rem;
    padding: 1rem;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    /* >div{
        scroll-snap-align: center;
    } */
}
.movieWrapper::-webkit-scrollbar{
    display: none;
}
.movieBOx{
    height: 400px;
    margin-bottom: 10px;
}
.nameimg{
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 50px;
}

.header_mani{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    padding: 7px 0px;
    position: fixed;
    top: 0;
    opacity: 0.8;
}

.tvsearch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
   
   
}

.logo{
    width: 170px;
    height: 60px;
}
.logo img{
    width: 100%;
    height: 100%;
}
 li,a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul:hover{
    border: red;
}
.cursor{
    font-size: 25px;
}

.cursor :hover{
    color: red;
    cursor: pointer;
}
body{
    background-color: rgb(8, 8, 45);
    color: white;
}

.text_center{
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 12%;
}

.text_center h1{
    font-size: 75px;
}
.text_center p{
    font-size: 24px;
}
.hederbaar{
    position: relative;
}

.text_center input{
    margin-top: 20px;
    width: 620px;
    height: 60px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px 0px 0px 25px;
}

.text_center button{
    background: linear-gradient(to left, #ff4e50, #f9d423);
    font-size: 20px;
    padding: 14px 30px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    color: white;
    cursor: pointer;
    
}